*{
    padding: 0px;
    margin: 0px;
    font-family: Roboto Slab;
    font-weight: 400;
}
ul{
    list-style:none;
}

/* .h1{font-family: Open Sans Condensed;
   font: weight 100px;} */
    
.first_bar{
/* background-color: red;
    width: 100%;
    height: 40px;*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date_time{ /*Aca deberia de poder separar el reloj de la fecha que 
            se indica,y achicar el reloj (pero no lo recuerdo*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-style: italic;
    font-size: 12pt;
    font-weight: 600;
    color:black;
}

.redes{
    display: flex;
    justify-content: flex-end;     
}
.icons{
    width: 20px;
    height: 20px;
    padding-right: 20px;
}

.cabecera {
    background-color: rgb(31, 95, 235);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    box-shadow: 0 5px rgba(31, 95, 235, 0.6);
}
.contenedor{
   max-width: 90%;
   margin-left: 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav_logo{
    width: 250px;
    height: 50px ;
}

.nav{
    min-width: 80%;
}

.nav_list{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    justify-content: space-between;
    margin-left: 10%;
}

.nav_enlace {
    color: white;
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.hero{
    background-image: url('../Imagenes/Img_Banners/Patagonia-Argentina-10.jpg');
    height: 450px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.titulo_principal{
    font-family:  Open Sans Condensed;
    color:black;
    border: 2px solid black;
    font-size: 15pt;
    padding: 10px;
}

.box1{
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2pt solid black;
    box-shadow: 0 5px rgba(108, 113, 124, 0.74);
    border-radius: 10px;
    padding: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.box1 h1{
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 18pt;
    padding-bottom: 30px;
}
.box1 p{
    font-size: 18px;
    text-align: justify;
    float:inline-end;
    padding-bottom: 15px;
    /* margin: auto; */
       
}
.box1 img{
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    float: right;
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 15px;
    /* display: flex;
    justify-content: right;
    align-content: center; */
}
.box1 span{
    font-style: oblique;
    font-size: 12pt;
}

.promo{
    background-color: yellow;
    position: relative;
}
    
.promo_titulo{
    font-size: 20pt;
    font-family: Roboto Slab;
    font-weight: 700;
    position: absolute;
    text-align: center;
    /* bottom: 0; */
    z-index: 10;
    width: 100%;

} 

.promo_video{
    width: 100%;
    height: 600px;
    position: relative;
     
}